@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, a {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* 햄버거 아이콘 */
#hamburger {
    position: relative;
    transition: all 0.3s ease-in-out;
}
#hamburger.is-active {
    transform: rotate(45deg);
}
#hamburger::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid transparent;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}
#hamburger.is-active::before {
    border: 5px solid #fff;
}
#hamburger.is-active .line {
    width: 35px;
}
#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}
#hamburger.is-active .line:nth-child(1) {
    transform: translateY(13px);
}
#hamburger.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(90deg);
}
#hamburger .line {
    width: 50px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
    margin: 8px auto;
}
#hamburger:hover {
    cursor: pointer;
}

header {
    width: 100%;
    height: 120px;
    background-color: maroon;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0.8;
    position: sticky;
}

header .small .logo img {
    max-width: 180px;
    position: relative;
    top: 5px;
}

header #header_menu ul { 
    width: 100%;
    height: 40px;
}

header #header_menu li a{
    text-decoration: none;
    padding: 15px;
    color:#fff;
}

#header_menu .header_sub_menu {
    display: none;
    width: 100%;
    position: relative;
    height: auto;
}
.header_sub_menu li {
    line-height: 10px;
    font-size: 14px;
    background-color: #000;
}

header .upper_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#icon_menu {
    width: 100%;
    height: 10%;
}

#icon_menu ul {
    display: flex;
    justify-content: flex-end;
    line-height: 40px;
    margin-top: -35px;
    margin-bottom: -20px;
}

#icon_menu ul>li {
    width: 50px;
    margin: 0px 10px;
}

#icon_menu li>a {
    font-size: 20px;
    color: #fff;
}

#small_icon>a {
    width: 33%;
    text-align: center;
}

#small_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #000;
}

#small_icon a {
    font-size: 28px;
    color: #fff;
}

footer {
    width: 100%;
    height: auto;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer #ft_mail {
    margin: 40px;
    background-image: url(../img/ft_mail_btn.png);
    background-position: center;
    background-size: cover;
    width: 420px;
    height: 100px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

footer #ft_menu ul {
    width: 100%;
    height: 30px;
    display: flex;
}

footer #ft_menu li {
    line-height: 30px;
    font-size: 14px;
}

footer #ft_menu li a {
    text-decoration: none;
    padding: 15px;
    color:#fff;
}

footer #ft_icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

}

#ft_icon a {
    font-size: 30px;
    margin: 20px;
}

footer h4 {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

#scrolltop {
    position: fixed;
    max-width: 40px;
    left: 4%;
    top: 88%;
    display: none;
}


@media (max-width: 592px) {
    header .small {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 120px;
    }

    header .small .logo {
        margin-left: 5px;
    }
    header .small .logo img {
        position: relative;
        top: 17px;
    }
    #hamburger {
        display: block;
        margin-right: 40px;
    }
    #header_menu {
        display: none;
        width: 100%;
    }

    header #header_menu ul { 
        width: 100%;
        height: 250px;
    }

    #header_menu li a {
        text-decoration: none;
        padding: 15px;
        color:#fff;
        display: block;
    }

    #header_menu ul a:hover {
        background-color: hotpink;
    }
    footer #ft_menu ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    footer #ft_menu li {
        border-top: 2px dotted #aaa;
        width: 400px;
        text-align: center;
    }
    footer #ft_menu li:last-of-type {
        border-bottom: 2px dotted #aaa;
    }

}

@media (min-width: 593px) {
    header .small {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 120px;
    }

    header .small .logo {
        margin-left: 5px;
    }
    header .small .logo img {
        position: relative;
        top: 17px;
    }
    #hamburger {
        display: block;
        margin-right: 40px;
    }
    #header_menu {
        display: none;
        width: 100%;
    }

    #header_menu li {
        width: 100%;
    }
    #header_menu li a {
        text-decoration: none;
        padding: 15px;
        color:#fff;
        display: block;
    }

    #header_menu ul a:hover {
        background-color: hotpink;
    }
    footer #ft_menu ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    footer #ft_menu li {
        border-top: 2px dotted #aaa;
        width: 400px;
        text-align: center;
    }
    footer #ft_menu li:last-of-type {
        border-bottom: 2px dotted #aaa;
    }
}

@media (max-width: 784px) {
    #header_menu ul>li a {
        background-color: #000;
    }
    #header_menu ul>li a:hover {
        background-color: hotpink;
    }

    #header_menu {
        display: none;
        width: 100%;
    }

    header #header_menu ul { 
        width: 100%;
        height: 250px;
    }

    #icon_menu {
        display: none;
    }
    
}
@media (min-width: 785px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        line-height: 50px;
    }
    #hamburger {
        display: none;
    }
    #header_menu {
        display: block;
    }

    #header_menu ul {
        display: flex;
        justify-content: flex-end;
    }
    header #header_menu li { 
        width: 120px;
        height: 40px;
        text-align: center;
    }

    #header_menu li a{
        text-decoration: none;
        padding: 15px;
        color:#fff;
    }

    #icon_menu {
        display: block;
    }

    #small_icon {
        display: none;
    }
    
}

@media (min-width: 1009px) {
    footer #ft_menu ul {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer #ft_menu li:after {
        content: '|';
        color: #fff;
    }
    
    footer #ft_menu li:last-of-type:after {
        content: "";
    }
    footer #ft_menu li {
        line-height: 30px;
        font-size: 14px;
        border: none;
        width: auto;
    }
    footer #ft_menu li:last-of-type {
        border:none;
    }
    
}

@media (min-width: 1217px) {

}