@charset "utf-8";

a {
    text-decoration: none;
}

#slider1 {
    width: 100%;
    height: 600px;
}

#slider1 #s1_imgbox {
    position: relative;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 500px;
}
.s1_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s1_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transform: scale(1.2);
    transition: all 600ms ease-in-out;
}
.s1_img img.active {
    opacity: 1;
    transform: scale(1);
}

.s1_thumnail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,240px);
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.s1_thumnail img{
    cursor: pointer;
    border: 3px solid transparent;
}
.s1_thumnail img.active {
    border: 3px solid #ff96d2;
}

.s1_btn a {
    position: absolute;
    top: 250px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 400ms ease-in-out;
}
.s1_btn a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.s1_btn a.next{
    right: 0;
}
.s1_btn a.previous {
    left: 0;
}

section {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

section>h1{
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#bgwrap h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    margin: -30px 0px 20px 0px;
}

#news .artbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#news .artbox article {
    width: 22.5%;
    height: 300px;
    background-color: #333;
    cursor: pointer;
}

#news .artbox article img {
    width: 100%;
}

#news .artbox article p {
    text-align: center;
    margin: 5px;
    padding: 10px;
    position: relative;
    color: #fff;
}

#character {
    width: 100%;
    height: auto;
}

#character h1 {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#slider2 {
    width: 100%;
    height: 600px;
}
/* 슬라이더 슬라이드이미지 */
#slider2 #s2_imgbox {
    position: relative;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 500px;
}
.s2_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s2_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transform: scale(1.2);
    transition: all 600ms ease-in-out;
}
.s2_img img.active {
    opacity: 1;
    transform: scale(1);
}

.s2_thumnail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,240px);
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.s2_thumnail img{
    cursor: pointer;
    border: 3px solid transparent;
}
.s2_thumnail img.active {
    border: 3px solid #fff;
}

.s2_btn a {
    position: absolute;
    top: 250px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    transition: all 400ms ease-in-out;
}
.s2_btn a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.s2_btn a.next{
    right: 0;
}
.s2_btn a.previous {
    left: 0;
}

#episode {
    width: 100%;
}

#episode h1 {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#video {
    width: 100%;
    height: 400px;
    display: flex;
}

#video .video_wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#video .video_1 {
    width: 36%;
    height: 300px;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
}

#video .video_2 {
    width: 28%;
    height: 300px;
    order: 1;
}

#video .video_3 {
    width: 28%;
    height: 300px;
    order: 3;
}
#video .vFrame {
    border: 10px solid #ff96d2;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #333;
}

.video_1 video {
    width: 100%;
}

.play_btn {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../img/play_pause.png);
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    border: none;
}
.play_btn:hover {
    opacity: 0.4;
}

#goods {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#goods .goodsbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#goods .goodsbox img {
    width: 100%;
}

#goods h1 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#goods .goodsbox article {
    width: 22.5%;
    height: 270px;
    cursor: pointer;
}

#goods .goodsbox .goods_txtbox {
    width: 100%;
    height: 35%;
    background-color: #333;
    opacity: 0.7;
    color: #fff;
    padding: 15px;
    text-align: end;
    position: relative;
    top: -40%;
    display: none;
}

#goods_01:hover >.goods_txtbox {
    display: block;
}
#goods_02:hover >.goods_txtbox {
    display: block;
}
#goods_03:hover >.goods_txtbox {
    display: block;
}
#goods_04:hover >.goods_txtbox {
    display: block;
}

#bg_img_wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.gif_img {
    width: 35vw;
    position: relative;
}

.chc_ani {
    width: 10vw;
    position: relative;
}

.usg_1 {
    right: 35%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.r_ani {
    right: -30%;
}

.mmg_1 {
    left: 80%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.hat_1 {
    left: 80%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.chi_1 {
    top: 10%;
    left: 5%;
    animation: chc_animation_jump 0.8s infinite alternate ease-in;
}

@keyframes chc_animation_rot {
    from {
        transform-origin: 50% 100%;
        rotate: 0deg;
    }

    to {
        transform-origin: 50% 100%;
        rotate: 20deg;
    }
}

@keyframes chc_animation_jump {
    0% {
        top: 0px;
        width: 10vw;
        height: 8vw;
    }

    5% {
        width: 10vw;
    }

    95% {
        width: 9vw;
        height: 10vw;
    }

    100% {
        top: -5vw;
        width: 9vw;
    }
}

#morebtn {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15vw;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    display: block;
}
button a {
    text-decoration: none;
    color: #000;
}

#ex_img {
    margin: 0 auto;
    text-align: center;
}

#ex_img img {
    width: 100%;
}

#bd_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

#bd_wrap h1 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 50px 0px;
}

#bd_wrap .dir_btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    border: none;
    border-radius: 50%;
    font-size: 2vw;
    left: -10%;
    top: 20vw;
    cursor: pointer;
    background-color: #ff96d2;
    color: #fff;
}

.yor_1 {
    width: 30%;
    height: 100%;
}
.kuri_1 {
    width: 10vw;
    position: relative;
    height: 100%;
    left: -10%;
}
#bd_wrap .bd_case {
    position: relative;
    width: 30vw;
    left: -10%;
    margin-bottom: 20vw;
    border: 1vw solid #fff;
    padding-bottom: 1vw;
    background-color: #fff;
}

.bd_case img{
    width: 100%;
}

.bd_case p {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}


/* 미디어쿼리 */

@media (max-width: 592px) {
    section {
        width: 100%;
        height: 380vw;
        margin: 0 auto;
    }
    
    #slider1 {
        width: 100%;
        height: 70vw;
    }

    .s1_thumnail {
        display: none;
    }

    #character h1 {
        width: 100%;
    }

    #slider2{
        width: 100%;
        height: 100vw;
    }

    .s2_thumnail {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,32vw);
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #news .artbox {
        width: 100%;
        height: 360vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #news .artbox article {
        width: 90%;
        height: 80vw;
        background-color: #333;
    }

    #episode h1 {
        width: 100%;
        margin-top: 20vw;
    }

    #video {
        width: 100%;
        height: 230vw;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #video .video_wrap>div {
        width: 96%;
        height: 68vw;
    }

    #video .video_1 {
        order: 1;
        height: auto;
        margin-bottom: -40px;
    }

    #goods {
        width: 100%;
        height: 410vw;
        margin: 0 auto;
    }

    #goods .goodsbox {
        width: 100%;
        height: 390vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #goods .goodsbox article {
        width: 90%;
        height: 80vw;
    }

    #goods .goodsbox .goods_txtbox p{
        font-size: 4vw;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 7vw;
    }

    #bd_wrap .bd_case {
        position: relative;
        width: 45vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }

    #bd_wrap .dir_btn {
        position: relative;
        width: 5vw;
        height: 5vw;
        border: none;
        border-radius: 50%;
        font-size: 3vw;
        left: -10%;
        top: 25vw;
        cursor: pointer;
        background-color: #ff96d2;
        color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        margin-top: 1vw;
    }
}

@media (min-width: 593px) {
    section {
        width: 100%;
        margin: 0 auto;
    }

    #slider1 {
        width: 100%;
        height: 70vw;
    }

    .s1_thumnail {
        display: none;
    }

    #character h1 {
        width: 100%;
    }

    #slider2{
        width: 100%;
        height: 100vw;
    }

    .s2_thumnail {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,32vw);
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #news .artbox {
        width: 100%;
        height: 110vw;
        display: flex;
        flex-wrap: wrap;
    }

    #news .artbox article {
        width: 43%;
        height: 43%;
        background-color: #333;
    }

    #episode {
        margin-top: 10vw;
        margin-bottom: -5vw;
    }

    #episode h1 {
        width: 100%;
    }

    #video {
        width: 100%;
        height: 230vw;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #video .video_wrap>div {
        width: 96%;
        height: 68vw;
    }

    #video .video_1 {
        order: 1;
        height: auto;
        margin-bottom: -40px;
    }

    #goods {
        width: 100%;
        margin: 0 auto;
    }

    #goods>h5 {
        margin-bottom: 5vw;
    }

    #goods .goodsbox {
        width: 100%;
        height: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    #goods .goodsbox article {
        width: 43%;
        height: 43%;
    }

    #goods .goodsbox .goods_txtbox p{
        font-size: 2.5vw;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 3.5vw;
    }

    #bd_wrap .bd_case {
        position: relative;
        width: 45vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        margin-top: 1vw;
    }
}

@media (min-width: 785px) {
    #slider1 {
        width: 100%;
        height: 70vw;
    }

    #slider1 #s1_imgbox {
        position: relative;
        left: 50%;
        top: 44%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 500px;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #slider2{
        width: 100%;
        height: 600px;
    }

    .s2_thumnail {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,240px);
        width: 100px;
        height: 60px;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;
    }

    #episode h1 {
        width: 100%;
    }
    
}

@media (min-width:910px) {
    #slider1 {
        width: 100%;
        height: 600px;
    }
    #slider1 #s1_imgbox {
        position: relative;
        left: 50%;
        top: 44%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .s1_thumnail {
        display: flex;
    }

    #slider2{
        width: 100%;
        height: 600px;
    }
    #bd_wrap .bd_case {
        position: relative;
        width: 30vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }

    #bd_wrap .dir_btn {
        position: relative;
        width: 4vw;
        height: 4vw;
        border: none;
        border-radius: 50%;
        font-size: 2vw;
        left: -10%;
        top: 20vw;
        cursor: pointer;
        background-color: #ff96d2;
        color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin-top: 20px;
    }

}

@media (min-width: 1009px) {
    section {
        width: 100%;
        margin: 0 auto;
    }
    #slider1 {
        width: 100%;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #news .artbox {
        width: 100%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #news .artbox article {
        width: 22.5%;
        height: 300px;
        background-color: #333;
    }

    #episode {
        margin-top: 10vw;
        margin-bottom: 50px;
    }

    #episode h1 {
        width: 100%;
    }

    #video {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 30px;
    }

    #video .video_wrap>div {
        width: 28%;
        height: 300px;
    }

    #video .video_1 {
        width: 36%;
        order: 2;
    }

    #goods>h5 {
        margin-bottom: 50px;
    }

    #goods .goodsbox {
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #goods .goodsbox article {
        width: 23%;
        height: 270px;
    }
    #goods .goodsbox .goods_txtbox p{
        font-size: 16px;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 22px;
    }

    #ex_img img {
        width: 1000px;
    }
}

@media (min-width: 1217px) {
    section {
        width: 1200px;
        margin: 0 auto;
    }

    #slider1 {
        width: 100%;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #video {
        width: 1200px;
        height: 400px;
        margin: 0 auto;
    }

    #goods {
        width: 1200px;
        margin: 0 auto;
    }
    
}