@charset "utf-8";

a {
    text-decoration: none;
}

#slider1 {
    width: 100%;
    height: 600px;
}

#slider1 #s1_imgbox {
    position: relative;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 500px;
    cursor: pointer;
}
.s1_img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s1_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transform: scale(1.2);
    transition: all 600ms ease-in-out;
}
.s1_img img.active {
    opacity: 1;
    transform: scale(1);
}

.s1_thumnail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,240px);
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}
.s1_thumnail img{
    cursor: pointer;
    border: 3px solid transparent;
}
.s1_thumnail img.active {
    border: 3px solid #ff96d2;
}

.s1_btn a {
    position: absolute;
    top: 250px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    opacity: 0.5;
    color: #ff96d2;
    transition: all 400ms ease-in-out;
}
.s1_btn a:hover {
    opacity: 1;
}
.s1_btn a.next{
    right: 0;
}
.s1_btn a.previous {
    left: 0;
}

section {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

section>h2{
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#bgwrap h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    margin: -30px 0px 20px 0px;
}

#news .artbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#news .artbox article {
    width: 22.5%;
    height: 300px;
    background-color: #fff;
    border-radius: 10%;
    cursor: pointer;
}

#news .artbox article img {
    width: 100%;
}

#news .artbox article h4 {
    text-align: center;
    margin: 5px;
    padding: 10px;
    position: relative;
    color: #000;
    font-family: 'NanumSquareRound';
    font-size: 18px;
    line-height: 32px;
}

#news .news_btn {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15vw;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: #462e31;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#character {
    width: 100%;
    height: auto;
}

#character h2 {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#char_info {
    width: 100%;
}

#char_info .char_li {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.char_li li {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 28%;
}

.char_li img {
    width: 100%;
    max-height: 100%;
}

.char_li li p {
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 22px;
    color: #ff96d2;
    border-radius: 25px;
    background-color: #fff578;
}

#char_info a {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: #462e31;
    text-decoration: none;
    color: #fff;
}

#episode {
    width: 100%;
}

#episode h2 {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#video {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
}

#video .title {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    color: #462e31;
}

#video .video_wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#video .video_1 {
    width: 30%;
    order: 2;
    position: relative;
}

#video .pv {
    width: 100%;
    height: 100%;
    z-index: 6;
}

.youtube {
    width: 100%;
    height: 100%;
    border: none;
}

.youtube_2 {
    width: 100%;
    height: 100%;
    border: none;
}

.video_1 img {
    width: 100%;
}

#video .video_2 {
    width: 30%;
    height: 300px;
    order: 1;
    position: relative;
}

.video_2 img {
    width: 100%;
}

#video .video_3 {
    width: 30%;
    height: 300px;
    order: 3;
    position: relative;
}

.video_3 img {
    width: 100%;
}

#video .vFrame {
    border: 15px solid #fff578;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #ff96d2;
    background-color: #fff578;
}

.video_1 video {
    width: 100%;
}

.btnwrap {
    position: relative;
}

#play_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.9;
    border: none;
}

#play_btn:hover {
    opacity: 0.4;
}

#tbtn:hover {
    opacity: 0.4;
}

#tbtn_2:hover {
    opacity: 0.4;
}

#tbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    opacity: 0.9;
    border: none;
}

#tbtn_2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    opacity: 0.9;
    border: none;
}


#popUp {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

#vBox {
    width: 800px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#popUp_2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

#vBox_2 {
    width: 800px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cbtn {
    width: 45px;
    height: 45px;
    border: none;
    top: -50px;
    right: 0;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

#popUp_3 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

#vBox_3 {
    width: 800px;
    height: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#goods {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#goods .goodsbox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#goods .goodsbox img {
    width: 100%;
    border-radius: 10%;
}

#goods h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#goods .goodsbox article {
    width: 22.5%;
    height: 270px;
    cursor: pointer;
}

#goods .goodsbox .goods_txtbox {
    width: 100%;
    height: 35%;
    background-color: #333;
    opacity: 0.7;
    color: #fff;
    padding: 15px;
    text-align: end;
    position: relative;
    top: -40%;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.goods_txtbox p, h3 {
    font-family: 'NanumSquareRound';
}

#goods_01:hover >.goods_txtbox {
    display: block;
}
#goods_02:hover >.goods_txtbox {
    display: block;
}
#goods_03:hover >.goods_txtbox {
    display: block;
}
#goods_04:hover >.goods_txtbox {
    display: block;
}

#bg_img_wrap {
    width: 100%;
    height: 45vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -50px;
    z-index: -1;
}

#bg_img_wrap>img {
    position: absolute;
}

.gif_img {
    width: 32vw;
    top: 5%;
}

.chc_ani {
    width: 10vw;
    position: relative;
}

.usg_1 {
    width: 10vw;
    top: 40%;
    right: 50%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.usg_tree {
    width: 12vw;
    top: 70%;
    left: 35%;
}

.mush_1 {
    left: 55%;
    top: 80%;
    width: 7vw;
}

.mush_2 {
    width: 5vw;
    left: 8%;
    top: 85%;
}

.r_ani {
    right: 0%;
}

.mmg_1 {
    left: 80%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.hat_1 {
    left: 80%;
    animation: chc_animation_rot 1s infinite alternate ease-in-out;
}

.chi_1 {
    top: 10%;
    left: 5%;
    animation: chc_animation_jump 0.8s infinite alternate ease-in;
}

@keyframes chc_animation_rot {
    from {
        transform-origin: 50% 100%;
        rotate: 0deg;
    }

    to {
        transform-origin: 50% 100%;
        rotate: 20deg;
    }
}

@keyframes chc_animation_jump {
    0% {
        top: 0px;
        width: 10vw;
        height: 8vw;
    }

    5% {
        width: 10vw;
    }

    95% {
        width: 9vw;
        height: 10vw;
    }

    100% {
        top: -5vw;
        width: 9vw;
    }
}

.cave_1 {
    position: absolute;
    width: 28vw;
    left: 0;
    z-index: -1;
}

.chi_2 {
    position: absolute;
    right: 0%;
    top: 40%;
    width: 22vw;
}

#morebtn {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15vw;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: #462e31;
    text-decoration: none;
    color: #fff;
}

#ex_img {
    margin: 0 auto;
    text-align: center;
}

#ex_img img {
    width: 100%;
}

#bd_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    position: relative;
}

#bd_wrap h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

#bd_wrap h5 {
    text-align: center;
    width: 100%;
    margin-bottom: 5vw;
}

#bd_wrap .dir_btn {
    position: relative;
    width: 4vw;
    height: 4vw;
    border: none;
    border-radius: 50%;
    font-size: 2vw;
    left: -10%;
    top: 20vw;
    cursor: pointer;
    background-color: #ff96d2;
    color: #fff;
}

.yor_1 {
    width: 30%;
    height: 100%;
}
.kuri_1 {
    width: 10vw;
    position: relative;
    height: 100%;
    left: -10%;
}
#bd_wrap .bd_case {
    position: relative;
    width: 30vw;
    left: -10%;
    margin-bottom: 20vw;
    border: 1vw solid #fff;
    padding-bottom: 1vw;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.bd_case img{
    width: 100%;
}

.bd_case p {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
}


/* 미디어쿼리 */

@media (max-width: 592px) {
    section {
        width: 100%;
        height: 380vw;
        margin: 0 auto;
    }
    
    #slider1 {
        width: 100%;
        height: 70vw;
    }

    .s1_thumnail {
        display: none;
    }

    #character h2 {
        width: 100%;
    }

    #news .artbox {
        width: 100%;
        height: 370vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 5vw;
    }

    #news .artbox article {
        width: 90%;
        height: 80vw;
    }

    #news .artbox article h4 {
        font-size: 3.5vw;
        padding: 0px;
    }

    #news .artbox article p {
        font-size: 16px;
        line-height: 24px;
    }

    #news .news_btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 15px;
        margin-top: 2vw;
        margin-bottom: 10vw;
    }

    #character {
        margin-top: 30vw;
    }

    .char_li li p {
        width: 90%;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }

    #char_info a {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 15px;
        margin-top: 12vw;
        margin-bottom: 12vw;
    }

    #episode h2 {
        width: 100%;
        margin-top: 20vw;
    }

    #video {
        width: 100%;
        height: 230vw;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #video .video_wrap>div {
        width: 96%;
        height: 68vw;
    }

    #video .video_1 {
        order: 1;
        height: auto;
    }

    #video .title {
        font-size: 4vw;
    }

    #vBox {
        width: 76vw;
        height: 42.25vw;
    }
    #vBox_2 {
        width: 76vw;
        height: 42.25vw;
    }
    #vBox_3 {
        width: 76vw;
        height: 42.25vw;
    }

    .cbtn {
        width: 30px;
        height: 30px;
        top: 2px;
        right: 12px;
        font-size: 16px;
        opacity: 0.7;
        z-index: 7;
    }

    #goods {
        width: 100%;
        height: 410vw;
        margin: 0 auto;
    }

    #goods .goodsbox {
        width: 100%;
        height: 390vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #goods .goodsbox article {
        width: 90%;
        height: 80vw;
    }

    #goods .goodsbox .goods_txtbox p{
        font-size: 4vw;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 7vw;
    }

    #bd_wrap .bd_case {
        position: relative;
        width: 45vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }

    #bd_wrap .dir_btn {
        position: relative;
        width: 5vw;
        height: 5vw;
        border: none;
        border-radius: 50%;
        font-size: 3vw;
        left: -10%;
        top: 25vw;
        cursor: pointer;
        background-color: #ff96d2;
        color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        margin-top: 1vw;
    }
}

@media (min-width: 593px) {
    section {
        width: 100%;
        margin: 0 auto;
    }

    #slider1 {
        width: 100%;
        height: 70vw;
    }

    .s1_thumnail {
        display: none;
    }

    #character h2 {
        width: 100%;
    }

    #news .artbox {
        width: 100%;
        height: 110vw;
        display: flex;
        flex-wrap: wrap;
    }

    #news .artbox article {
        width: 43%;
        height: 43%;
    }

    #news .news_btn {
        width: 300px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        border-radius: 20px;
        margin-top: 5vw;
        margin-bottom: 15vw;
    }

    #character {
        margin-top: 18vw;
    }

    .char_li li p {
        width: 90%;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
    }

    #char_info a {
        width: 300px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        border-radius: 20px;
        margin-top: 12vw;
        margin-bottom: 15vw;
    }

    #episode {
        margin-top: 10vw;
        margin-bottom: -5vw;
    }

    #episode h2 {
        width: 100%;
    }

    #video {
        width: 100%;
        height: 230vw;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #video .video_wrap>div {
        width: 96%;
        height: 68vw;
    }

    #video .video_1 {
        order: 1;
        height: auto;
    }

    #video .title {
        font-size: 4vw;
    }

    .cbtn {
        width: 30px;
        height: 30px;
        top: 5px;
        right: 10px;
        font-size: 16px;
        opacity: 0.7;
        z-index: 7;
    }

    #vBox {
        width: 80vw;
        height: 45vw;
    }
    #vBox_2 {
        width: 80vw;
        height: 45vw;
    }
    #vBox_3 {
        width: 80vw;
        height: 45vw;
    }

    #goods {
        width: 100%;
        margin: 0 auto;
    }

    #goods>h5 {
        margin-bottom: 5vw;
    }

    #goods .goodsbox {
        width: 100%;
        height: 100vw;
        display: flex;
        flex-wrap: wrap;
    }

    #goods .goodsbox article {
        width: 43%;
        height: 43%;
    }

    #goods .goodsbox .goods_txtbox p{
        font-size: 2.5vw;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 3.5vw;
    }

    #bd_wrap .bd_case {
        position: relative;
        width: 45vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 4vw;
        line-height: 5vw;
        text-align: center;
        margin-top: 1vw;
    }
}

@media (min-width: 785px) {
    #slider1 {
        width: 100%;
        height: 70vw;
    }

    #slider1 #s1_imgbox {
        position: relative;
        left: 50%;
        top: 44%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 500px;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #episode h2 {
        width: 100%;
    }
    
    #bd_wrap .bd_case {
        position: relative;
        width: 30vw;
        left: -10%;
        margin-bottom: 20vw;
        border: 1vw solid #fff;
        padding-bottom: 1vw;
        background-color: #fff;
    }

    #bd_wrap .dir_btn {
        position: relative;
        width: 4vw;
        height: 4vw;
        border: none;
        border-radius: 50%;
        font-size: 2vw;
        left: -10%;
        top: 20vw;
        cursor: pointer;
        background-color: #ff96d2;
        color: #fff;
    }
    
    .bd_case img{
        width: 100%;
    }
    
    .bd_case p {
        font-family: 'TmoneyRoundWindExtraBold';
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-top: 20px;
    }
}

@media (min-width:910px) {
    #slider1 {
        width: 100%;
        height: 600px;
    }
    #slider1 #s1_imgbox {
        position: relative;
        left: 50%;
        top: 44%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    .s1_thumnail {
        display: flex;
    }

    #character {
        margin-top: 10vw;
    }

}

@media (min-width: 1009px) {
    section {
        width: 100%;
        margin: 0 auto;
    }
    #slider1 {
        width: 100%;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #char_info {
        width: 1000px;
        margin: 0 auto;
    }

    #char_info a {
        margin-top: 80px;
        margin-bottom: 200px;
    }

    #news .artbox {
        width: 100%;
        height: 350px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #news .artbox article {
        width: 22.5%;
        height: 300px;
    }

    #episode {
        margin-top: 10vw;
        margin-bottom: 50px;
    }

    #episode h2 {
        width: 100%;
    }

    #video {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    #video .video_wrap {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        padding-bottom: 30px;
    }

    #video .video_wrap>div {
        width: 28%;
        height: 300px;
    }

    #video .video_1 {
        width: 36%;
        order: 2;
    }

    #video .title {
        font-size: 2vw;
    }

    #vBox {
        width: 880px;
        height: 495px;
    }
    #vBox_2 {
        width: 880px;
        height: 495px;
    }
    #vBox_3 {
        width: 880px;
        height: 495px;
    }

    #goods>h5 {
        margin-bottom: 50px;
    }

    #goods .goodsbox {
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #goods .goodsbox article {
        width: 23%;
        height: 270px;
    }
    #goods .goodsbox .goods_txtbox p{
        font-size: 16px;
    }

    #goods .goodsbox .goods_txtbox h3{
        font-size: 22px;
    }

    #ex_img img {
        width: 1000px;
    }
}

@media (min-width: 1217px) {
    section {
        width: 1200px;
        margin: 0 auto;
    }

    #slider1 {
        width: 100%;
    }

    #character {
        width: 100%;
        height: auto;
    }

    #video {
        width: 1200px;
        height: 400px;
        margin: 0 auto;
    }

    #video .title {
        font-size: 24px;
    }

    #goods {
        width: 1200px;
        margin: 0 auto;
    }
    
}