@charset "utf-8";


#wrap {
    width: 100%;
    background-color: #d3ecbf;
}

#about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#about h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
}

#about h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    padding-bottom: 70px;
}

.about_txt {
    width: 36%;
}

#about p {
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    padding-bottom: 50px;
    color: #462e31;
}

#character {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#character h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
}

#character h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
}

#character .imgpart {
    width: 50%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

#character #character_info {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/sub_1_img/char_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#character_info .charbox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


#character_info .charbox span img {
    height: 100%;
    max-width: 100%;
    padding-bottom: 30px;
}

#character_info .charbox:not(:first-child) {
    display: none;
}

#character_info .charbox>p{
    padding: 10px 0px;
    font-family: 'TmoneyRoundWindExtraBold';
    color: #462e31;
}

.name {
    font-size: 36px;
    padding-top: 30px;
}

.cv_name {
    display: flex;
    justify-content: center;
}

.cv_name img {
    width: 20px;
}

#character_list {
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
    position: relative;
}

#character_list .char_li {
    width: 19%;
    height: 48%;
    background-image: url(../img/sub_1_img/chi_bg_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

#character_list .char_li p {
    color: #462e31;
    font-family: 'TmoneyRoundWindExtraBold';
    text-align: center;
}

#character_list li img {
    max-width: 70%;
    max-height: 80%;
    align-self: center;
}

#character_list .active {
    background-image: url(../img/sub_1_img/chi_bg.png);
    animation: rotateChar 0.25s 2 linear;
}
#character_list .active>img {
    display: none;
}
#character_list .active>p {
    color: #fff;
    position: relative;
    top: -40%;
}

@keyframes rotateChar {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(180deg);
    }
}


/* 배경 박스의 크기를 더 키워보기 + 이미지 크기 조절하기 */
#synopsis {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    align-content: space-around;
}

#synopsis h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    padding-top: 30px;
}

#synopsis h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    padding-bottom: 50px;
}

#synopsis .story_img {
    width: 50%;
    background-color: lightsalmon;
}

#synopsis .story_text {
    width: 50%;
    height: 570px;
    background-color: yellowgreen;
}

@media (max-width: 592px){
    #wrap {
        width: 100%;
    }

    #character {
        width: 100%;
    }

    #character .imgpart {
        width: 100%;
        margin-top: 50px;
    }

    #character_info {
        width: 100%;
    }

    .charbox {
        width: 60%;
    }

    .charbox span>img {
        height: 100%;
    }

    #character_list {
        width: 100%;
    }

    #character_list p {
        font-size: 14px;
    }
}

@media (min-width:593px){
    #wrap {
        width: 100%;
    }

    #character {
        width: 100%;
    }

    #character .imgpart {
        width: 100%;
    }

    #character_info {
        width: 600px;
        margin: 0 auto;
    }
}

@media (min-width: 617px) {
    #character .imgpart {
        width: 600px;
        margin-top: 50px;
    }

}