@charset "utf-8";


#wrap {
    width: 100%;
    background-color: #d3ecbf;
}

#about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    background-image: url(../img/sub_1_img/bg.png);
    background-position: center;
    background-size: auto;
}

#about h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
}

#about h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    padding-bottom: 70px;
}

.about_txt {
    width: 36%;
}

#about p {
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 24px;
    padding-bottom: 50px;
    color: #462e31;
}

#character {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#character h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
}

#character h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
}

#character .imgpart {
    width: 50%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

#character #character_info {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/sub_1_img/char_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#character_info .charbox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


#character_info .charbox span img {
    max-width: 100%;
    padding-bottom: 30px;
}

#character_info .charbox:not(:first-child) {
    display: none;
}

#character_info .charbox>p{
    padding: 10px 0px;
    font-family: 'TmoneyRoundWindExtraBold';
    color: #462e31;
}

.name {
    font-size: 36px;
    padding-top: 30px;
}

.cv_name {
    display: flex;
    justify-content: center;
}

.cv_name img {
    width: 20px;
}

#character_list {
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
    position: relative;
}

#character_list .char_li {
    width: 20%;
    background-image: url(../img/sub_1_img/chi_bg_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

#character_list .char_li p {
    color: #462e31;
    font-family: 'TmoneyRoundWindExtraBold';
    text-align: center;
}

#character_list li img {
    max-width: 70%;
    max-height: 80%;
    align-self: center;
}

#character_list .active {
    background-image: url(../img/sub_1_img/chi_bg.png);
    animation: rotateChar 0.25s 2 linear;
}
#character_list .active>img {
    display: none;
}
#character_list .active>p {
    color: #fff;
    position: relative;
    top: -42%;
}

@keyframes rotateChar {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(180deg);
    }
}


/* 배경 박스의 크기를 더 키워보기 + 이미지 크기 조절하기 */
#synopsis {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: space-around;
}

#synopsis h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    padding-top: 30px;
}

#synopsis h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    width: 100%;
    padding-bottom: 50px;
}

.epi_wrap {
    background-image: url(../img/sub_1_img/bg.png);
    background-position: center;
    background-size: auto;
}

.epi_list {
    width: 600px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    position: relative;
}

.epi_list li {
    width: 45%;
}

.epi_list .epi_num {
    background: url(../img/sub_1_img/ic_epi_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    transform: translate(-45%, -45%);
    font-family: 'NanumSquareRound';
    color: #ff96d2;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

.epi_list li p {
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.epi_list li img {
    width: 100%;
}

.page_list {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 0 auto;
    align-items: center;
    margin-top: 50px;
}

.page_list a {
    text-decoration: none;
}

.page_list .prev {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    background-image: url(../img/sub_1_img/chi_bg_pink.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.page_list .next {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    background-image: url(../img/sub_1_img/chi_bg_pink.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.page_list .list_num {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'TmoneyRoundWindExtraBold';
}

.page_list .list_num a {
    color: #462e31;
}

.page_list .list_num.active {
    background-image: url(../img/sub_1_img/ic_epi_02.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.page_list .list_num.active a {
    color: #fff;
}

.page_list .next a, .prev a {
    color: #fff;
}

.epi_btn {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-family: 'TmoneyRoundWindExtraBold';
    background-color: #462e31;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 592px){
    #wrap {
        width: 100%;
    }

    #about {
        width: 100%;
    }

    #about .about_txt {
        width: 100%;
    }

    #character {
        width: 100%;
    }

    #character .imgpart {
        width: 100%;
        margin-top: 50px;
    }

    #character_info {
        width: 100%;
    }

    .charbox {
        width: 80%;
    }

    #character_info .charbox>span img {
        max-width: 45%;
    }

    #character_list {
        width: 100%;
        margin-top: -50px;
    }

    #character_list p {
        font-size: 3vw;
    }

    #character_list .active>p {
        font-size: 2.5vw;
    }

    .epi_list {
        width: 90%;
        margin-top: 50px;
    }
    
    .epi_list li {
        width: 45%;
    }

    .epi_list li p {
        font-size: 16px;
    }

    .page_list {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 8vw;
    }

    .page_list .prev {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    
    .page_list .next {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    
    .page_list .list_num {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .epi_btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 15px;
        margin-top: 2vw;
        margin-bottom: 10vw;
    }
}

@media (min-width:593px){
    #wrap {
        width: 100%;
    }

    #about {
        width: 100%;
    }

    #about .about_txt {
        width: 100%;
    }

    #character {
        width: 100%;
    }

    #character .imgpart {
        width: 100%;
    }

    #character_info {
        width: 600px;
        margin: 0 auto;
    }

    .charbox {
        width: 80%;
    }

    #character_info .charbox>span img {
        max-width: 45%;
    }

    .text {
        width: 100%;
        font-size: 18px;
    }

    #character_list {
        margin-top: -20px;
    }

    .epi_list {
        width: 90%;
        margin-top: 50px;
    }
    
    .epi_list li {
        width: 45%;
    }

    .epi_list li p {
        font-size: 18px;
    }

    .epi_btn {
        width: 300px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        border-radius: 20px;
        margin-top: 10vw;
        margin-bottom: 15vw;
    }
}

@media (min-width: 617px) {
    #character .imgpart {
        width: 600px;
        margin-top: 50px;
    }

}

@media (min-width: 785px) {
    .epi_list {
        width: 600px;
        margin-top: 50px;
    }
    
    .epi_list li {
        width: 45%;
    }

    .epi_list li p {
        font-size: 20px;
    }

    .epi_btn {
        margin-top: 7vw;
        margin-bottom: 10vw;
    }
}
@media (min-width: 1009px) {
    .epi_btn {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    #character_info .charbox {
        width: 600px;
    }

    #character_info .charbox>span img {
        max-width: 35%;
    }

    .text {
        width: 100%;
        font-size: 20px;
    }
}