@charset "utf-8";

#slider1 {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: pink;
}

#slider1 .slideshow {
    position: relative;
    overflow: hidden;
}

#slider1 .slideshow .slideimg {
    display: flex;
    width: 100%;
    background-color: yellow;
    justify-content: space-evenly;
}

.slideimg li {
    width: 430px;
    height: 430px;
    flex-shrink: 0;
    margin: 0px 2%;
}

.slideimg li img {
    width: 100%;
}

.prev, .next {
    position: absolute;
}


#shop_menu {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    background-color: #777;
}

#shop_item {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 1530px;
    background-color: cyan;
    margin: 0 auto;
    justify-content: space-around;
    align-content: space-around;
}

#shop_item .itembox {
    width: 270px;
    height: 450px;
    background-color: gold;
}

button {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}