@charset "utf-8";

.bg {
    background-image: url(../img/sub_2_img/pattern.png);
}
#slider1 {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.slideshow {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    user-select: none;
    margin: 0 auto;
}

.s_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    flex-shrink: 0;
    transition: left 0.5s ease;
}

.s_img img {
    width: 550px;
    border: 2px solid #000;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 16px);
    border-radius: 100%;
    font-size: 32px;
    background-color: #fff;
    cursor: pointer;
    color: #ff96d2;
    opacity: 0.5;
    transition: all 400ms ease-in-out;
}

.btn:hover {
    opacity: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slide_pagination {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slide_pagination > li {
    color: #ffc2ca;
    cursor: pointer;
    font-size: 50px;
}

.slide_pagination >li.active {
    color: #ff96d2;
}

.s_img_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: left 0.15s;
}

#mini_banner {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
    padding: 20px 10px;
}

#mini_banner .mini_ban {
    width: 23%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    cursor: pointer;
}

.mini_ban h3 {
    text-align: center;
    padding: 2%;
    line-height: 20px;
    font-family: 'NanumSquareRound';
}

.mini_ban img {
    width: 100%;
}

.kuji_ban {
    text-align: center;
    padding: 20px;
}
.kuji_ban img{
    cursor: pointer;
    max-width: 100%;
}

.wrap {
    background-color: #ffc2ca;
    padding: 3vw 0vw;
}

.wrap_2 {
    padding: 3vw 0vw;
}

.shop_menu {
    width: 1200px;
    margin: 0 auto;
}

.shop_menu h2 {
    width: 100%;
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    font-size: 36px;
    margin: 30px 0px;
}

.shop_menu h5 {
    text-align: center;
    font-family: 'TmoneyRoundWindExtraBold';
    margin: -30px 0px 20px 0px;
}

#new_item {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 1300px;
    margin: 0 auto;
    justify-content: space-around;
    align-content: space-around;
}

#new_item .itembox {
    width: 22.5%;
    height: 375px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
}

#new_item .itembox .goods_txtbox {
    width: 100%;
    height: 28%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #fff;
}


#new_item .itembox img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#new_item .itembox .hideimg {
    display: none;
}

#new_item .itembox:nth-of-type(10):hover > .showimg {
    display: none;
}
#new_item .itembox:nth-of-type(10):hover > .hideimg {
    display: inline-block;
}

#new_item .itembox:nth-of-type(11):hover > .showimg {
    display: none;
}
#new_item .itembox:nth-of-type(11):hover > .hideimg {
    display: inline-block;
}

#new_item .itembox:nth-of-type(12):hover > .showimg {
    display: none;
}
#new_item .itembox:nth-of-type(12):hover > .hideimg {
    display: inline-block;
}

#shop_item {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 1300px;
    margin: 0 auto;
    justify-content: space-around;
    align-content: space-around;
}

#shop_item .itembox {
    width: 22.5%;
    height: 375px;
    cursor: pointer;
    background-color: #000;
    border-radius: 15px;
    border: 2px solid #000;
}

#shop_item .itembox .goods_txtbox {
    width: 100%;
    height: 28%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #000;
}

.goods_txtbox p, h3 {
    font-family: 'NanumSquareRound';
}


#shop_item .itembox img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.morebtn {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-family: 'NanumSquareRound';
    background-color: #318cd5;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 592px) {
    #slider1 {
        width: 100%;
        height: 100%;
    }

    .s_img img {
        width: 100%;
        border: 2px solid #000;
        border-radius: 20px;
    }

    .slide_pagination {
        display: none;
    }

    #mini_banner {
        width: 100%;
        height: 75vw;
        align-content: space-around;
    }

    #mini_banner .mini_ban {
        width: 44%;
    }

    .mini_ban h3 {
        font-size: 3.5vw;
    }

    .shop_menu {
        width: 100%;
    }

    #new_item {
        width: 100%;
        height: 1500vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #new_item .itembox {
        width: 90%;
        height: 110vw;
    }

    #new_item .itembox .goods_txtbox p{
        font-size: 4vw;
    }

    #new_item .itembox .goods_txtbox h3{
        font-size: 7vw;
    }

    #shop_item {
        width: 100%;
        height: 1600vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #shop_item .itembox {
        width: 90%;
        height: 125vw;
    }

    #shop_item .itembox .goods_txtbox p{
        font-size: 4vw;
    }

    #shop_item .itembox .goods_txtbox h3{
        font-size: 7vw;
    }

    .morebtn {
        margin-top: 10vw;
        margin-bottom: 20vw;
    }
}

@media (min-width: 593px) {
    #slider1 {
        width: 100%;
        height: 100%;
    }

    #mini_banner {
        width: 100%;
        height: 60vw;
        align-content: space-around;
    }

    #mini_banner .mini_ban {
        width: 45%;
    }

    .shop_menu {
        width: 100%;
    }

    #new_item {
        width: 100%;
        height: 1500vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #new_item .itembox {
        width: 90%;
        height: 110vw;
    }

    #new_item .itembox .goods_txtbox p{
        font-size: 4vw;
    }

    #new_item .itembox .goods_txtbox h3{
        font-size: 7vw;
    }

    #shop_item {
        width: 100%;
        height: 1600vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #shop_item .itembox {
        width: 90%;
        height: 125vw;
    }

    #shop_item .itembox .goods_txtbox p{
        font-size: 4vw;
    }

    #shop_item .itembox .goods_txtbox h3{
        font-size: 7vw;
    }

    .morebtn {
        margin-top: 10vw;
        margin-bottom: 20vw;
    }
}

@media (min-width: 785px) {
    #slider1 {
        width: 100%;
        height: 600px;
    }

    #mini_banner {
        width: 100%;
        height: 25vw;
        align-content: space-around;
    }

    #mini_banner .mini_ban {
        width: 24%;
    }

    #new_item {
        width: 100%;
        height: 400vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #new_item .itembox {
        width: 43%;
        height: 14%;
    }

    #new_item .itembox .goods_txtbox p{
        font-size: 2.5vw;
    }

    #new_item .itembox .goods_txtbox h3{
        font-size: 3.5vw;
    }

    #shop_item {
        width: 100%;
        height: 400vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #shop_item .itembox {
        width: 43%;
        height: 59vw;
    }

    #shop_item .itembox .goods_txtbox p{
        font-size: 2.5vw;
    }

    #shop_item .itembox .goods_txtbox h3{
        font-size: 3.5vw;
    }

    .morebtn {
        margin-top: 8vw;
        margin-bottom: 15vw;
    }
}

@media (min-width: 910px) {
    #mini_banner {
        width: 100%;
        height: 21vw;
    }
}

@media (min-width: 1009px) {
    #mini_banner {
        height: 250px;
    }

    #new_item {
        width: 100%;
        height: 105vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #new_item .itembox {
        width: 22.5%;
        height: 27%;
    }

    #new_item .itembox .goods_txtbox {
        height: 28%;
    }

    #new_item .itembox .goods_txtbox p{
        font-size: 1.3vw;
    }

    #new_item .itembox .goods_txtbox h3{
        font-size: 1.8vw;
    }

    #shop_item {
        width: 100%;
        height: 115vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        padding-bottom: 30px;
    }

    #shop_item .itembox {
        width: 22.5%;
        height: 27.5%;
    }

    #shop_item .itembox .goods_txtbox {
        height: 28%;
    }

    #shop_item .itembox .goods_txtbox p{
        font-size: 1.2vw;
    }

    #shop_item .itembox .goods_txtbox h3{
        font-size: 2.1vw;
    }

    .morebtn {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

@media (min-width: 1217px) {
    #slider1 {
        width: 100%;
    }

    #mini_banner {
        width: 1200px;
    }

    #new_item {
        width: 1200px;
        height: 1300px;
    }

    #new_item .itembox {
        width: 22.5%;
        height: 375px;
    }

    #new_item .itembox .goods_txtbox p{
        font-size: 15px;
    }

    #new_item .itembox .goods_txtbox h3{
        font-size: 22px;
    }

    #shop_item {
        width: 1200px;
        height: 1300px;
    }

    #shop_item .itembox {
        width: 22.5%;
        height: 375px;
    }

    #shop_item .itembox .goods_txtbox p{
        font-size: 15px;
    }

    #shop_item .itembox .goods_txtbox h3{
        font-size: 22px;
    }

}